.signup {
  @media screen and (max-width: 1100px) {
    .signup__body {
      width: 50%;
    }
    .signup__background {
      width: 50%;
    }
  }
  @media screen and (max-width: 800px) {
    .signup__body {
      width: 100%;
    }
    .signup__background {
      display: none;
    }
  }
}
